/*CSS DOCUMENT*/

html,
body,
div,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

body {
    font-family: "indivisible", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #48733b;
}

div.home-container {
    background: url(bookstore.jpg) center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    max-width: 70rem;
    margin: auto;
    background-color: #f7f5f0;
}

div.container {
    position: relative;
    min-height: 100vh;
    max-width: 70rem;
    margin: auto;
    background-color: #f7f5f0;
    padding: 0rem 0rem 3rem 0rem;
}
/* >>> IMPORTANT: you have to change the wrap the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class.  */

main {
    margin: 1.5rem 2rem 3rem;
}

img {
    width: 100%; /*Please leave this line.*/
    display: block;
    border-radius: 0.5rem;
}

header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    background: #f7f5f0;
    padding: 1rem 2rem 0rem 2rem;
}

h1 {
    width: 15rem;
}

h3,
h4 {
    font-family: "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    color: #48733b;
}

h2 {
    font-size: 2rem;
    margin: 2rem 0rem 1.5rem;
    color: #755b38;
    font-family: "rinse", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
}

h3 {
    font-size: 1.5rem;
    margin: 2rem 0rem 1rem;
    border-bottom: 1rem;
}

a {
    text-decoration: none;
}

nav ul {
    text-align: right;
    margin: 0.5rem 0rem;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    margin: 0.5rem 0rem 0.5rem;
}

figure {
    margin-bottom: 1rem;
}

main.products ul {
    margin: 1rem 0rem;
}

main.products ul li {
    margin: 2rem 0rem 1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

p {
    margin: 1.5rem 0rem 0.5rem;
}

p.description {
    grid-column: 1/3;
    margin: 0rem;
}

p.price {
    grid-row: 1/3;
    grid-column: 3/3;
    color: #755b38;
    text-align: right;
    margin: 0rem;
}

nav ul li {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

nav ul li a {
    color: #f7f5f0;
    background-color: #48733b;
    padding: 0.5rem 0.5rem 0.5rem;
    border-radius: 0.25rem;
}

nav ul li.selected a {
    background-color: #755b38;
    color: #f7f5f0;
}

p.slogan {
    font-size: 5rem;
    font-family: "rinse", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
    margin: 3rem 0rem 1rem;
    color: #f7f5f0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    padding: 1rem 0.5rem;
    background: #f7f5f0;
}

article {
    margin: 2rem 0rem 0rem;
}

address {
    color: rgb(255, 255, 255);
}

footer p {
    margin: 0rem 0rem 0rem 1rem;
}

@media screen and (min-width: 60em) {
    article {
        margin: 5% 0%;
    }

    main.products ul {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 8rem;
        margin: 0rem 8rem 3rem 0rem;
    }

    header {
        grid-template-columns: 15% 85%;
    }

    nav ul li {
        display: inline;
        font-size: 1rem;
        margin: 0.5rem;
    }

    nav ul {
        margin: 2.7rem 0rem;
    }
}
